.text-gradient {
  background-image: var(--color-text-gradient);
  color: transparent;
  background-clip: text;
}

.text-primary {
  color: var(--color-text-primary);
}
.text-secundary {
  color: var(--color-text-secundary);
}

.bg-primary {
  color: var(--color-background-primary);
}
