.text-xs {
  font-size: var(--font-size-xs);
}
.text-s {
  font-size: var(--font-size-s);
}
.text-m {
  font-size: var(--font-size-m);
}
.text-l {
  font-size: var(--font-size-l);
}
.text-xl {
  font-size: var(--font-size-xl);
}
.text-xxl {
  font-size: var(--font-size-xxl);
}
.text-3xl {
  font-size: var(--font-size-3xl);
}
