.header {
  height: 100px;
  background-color: var(--color-background-secundary);
  display: flex;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Poppins";
  font-size: var(--font-size-m);
  color: var(--color-text-primary);
}
.header__nav-list {
  display: flex;
}
