@font-face {
  font-family: "Luxia Display";
  src: url("/assets/fonts/Luxia-Display.woff") format("woff");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Luxia";
  src: url("Luxia-Regular.woff") format("woff");
  font-style: normal;
  font-display: swap;
}
